/*@charset "utf-8";*/
/* CSS Document */
   html {
    height: 100%;
}

body {
    height: 100%;
	background-color: white;
}


.affix {
	top:0;
	width:100%;
	z-index: 9999 !important;
}

.navbar {
	background-color: #444444;
	margin-bottom: 0px;
}

.affix ~ .container-fluid {
     position: relative;
     top: 10%;
  }

.holder {
	position: relative;
}

.img-overlay {
	position:absolute;
	width:50%;
	left:25%;
	bottom:30%;
}

.img-overlay-caro {
	position:absolute;
	width:40%;
	left:30%;
	bottom:50%;
}

.img-overlay-menu {
	position:absolute;
	width:40%;
	left:30%;
	bottom:50%;
}

.nav-white {
	color: white;
}

.profile-img {
	width: 100%;
	position: relative;
}

.highlight-hover {
	opacity: 1;
}

.highlight-hover:hover{
	opacity: 0.5;
	background-color: whitesmoke;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.nopadding-hover {
	padding: 10% !important;
   	margin: 10% !important;
}

.nopadding-hover {
	padding: 0 !important;
   	margin: 0 !important;
}

.row-padded {
	padding: 5% !important;
   	margin: 5% !important;
}

.text-overlay {
    position: absolute;
    top: 45%;
    left: 50%;
    width: 100%;
	color: white;
}

.outline-background{
	position:absolute;
	width:100%;
	height: 100%;
	left:0%;
	bottom:0%;
}

.outline-background-map{
	position:absolute;
	width:100%;
	height: 104%;
	left:0%;
	bottom:-1.5%;
}

.black {
    background-color: rgba(39,39,39,0.30);
    color: black;
}

.white {
    background-color: rgba(183,183,183,0.30);
    color: white;
}

.yellow {
	background-color: rgba(233,233,233,0.30);
    color: black;
}

.darkback {
	background-color: rgba(44,44,44,0.80);
	border-radius: 0.5em;
	color: white;
}

#loction-side {
	background-color: #646464;
	border: thin #000000 solid;
	border-radius: .5em;
}

.text-overlay-location {
    position: absolute;
    top: 20%;
    left: 25%;
    width: 50%;
	color: black;
}

.chefhat {
	position:absolute;
	width:45%;
	height: 90%;
	left:10%;
	bottom:5%;
}

.text-overlay-aboutus {
    position: absolute;
    top: 30%;
    left: 60%;
    width: 33%;
	color: white;
}

#address-head {
	font-size: 200%;
}

#address-body {
	font-size: 150%;
}

#aboutus {
	background-image: url(../img/wood2.png);
}

.soci-icons {
	position: absolute;
	width: 20%;
	left: 80%;
	top: 1%;
}

.fa {
    padding: 5%;
    font-size: 5%;
    text-align: center;
    text-decoration: none;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

#mappic {
	margin-top: 0.5%;
	margin-bottom: 0.5%;
}
